# dependencies
node_modules/

# next
.next/
out/

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# builds
dist/
coverage/

# terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
.terraform.tfstate.lock.info
infra/terraform/.artifacts/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
