bucket         = "REPLACE_WITH_YOUR_TF_STATE_BUCKET"
key            = "jordanamman-ai/dev/terraform.tfstate"
region         = "us-east-1"
dynamodb_table = "terraform-state-locks"
encrypt        = true
